# Question 22


+---------------+---------+
| Column Name   | Type    |
+---------------+---------+
| id            | int     |
| recordDate    | date    |
| temperature   | int     |
+---------------+---------+
id is the column with unique values for this table.
This table contains information about the temperature on a certain day.
 
 

Write a solution to find all dates' Id with higher temperatures compared to its previous dates (yesterday).

Return the result table in any order.

Please use the following input Weather table for your solution. To receive full marks you will need to create the database, create the table, insert the data below and execute the SQL query.

 

Input: 
Weather table:
+----+------------+-------------+
| id | recordDate | temperature |
+----+------------+-------------+
| 1  | 2015-01-01 | 10          |
| 2  | 2015-01-02 | 25          |
| 3  | 2015-01-03 | 20          |
| 4  | 2015-01-04 | 30          |
+----+------------+-------------+
Output: 
+----+
| id |
+----+
| 2  |
| 4  |
+----+
Explanation: 
In 2015-01-02, the temperature was higher than the previous day (10 -> 25).
In 2015-01-04, the temperature was higher than the previous day (20 -> 30).

In [13]:
import sqlite3

# Create SQLite database and Weather_table
conn = sqlite3.connect('weather_database.db')
cursor = conn.cursor()
cursor.execute("CREATE TABLE Weather_record (id int, recordDate DATE, temperature int)")

records = [
    (1, '2015-01-01', 10),
    (2, '2015-01-02', 25),
    (3, '2015-01-03', 20),
    (4, '2015-01-04', 30)
]


cursor.execute("INSERT INTO Weather_record VALUES (?, ?, ?)", records)

conn.commit()

# SQL query to find dates with higher temperatures compared to previous dates
query = '''
    SELECT w.id
    FROM Weather_record w
    WHERE w.temperature > (
        SELECT temperature
        FROM Weather_record
        WHERE recordDate = DATE(w.recordDate, '-1 day')
    )
'''

# Execute the query and display the result
result = cursor.execute(query).fetchall()
print(result)

ProgrammingError: Incorrect number of bindings supplied. The current statement uses 3, and there are 4 supplied.